<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-container w3-aqua">
    <div>
      <a href="/" class="w3-button w3-black" >root</a>
      <a href="/users">users</a>
      <a href="/microposts">microposts</a>
    </div>
    <%= yield %>
  </body>
</html>
